{% extends 'index.html' %}
{% block content %}
    <div>
        {{ form.csrf_token }}
    </div>
    <form method="POST">
        <div class="form_class login_form">
            <h2>Авторизация</h2>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                            <span>{{ message }}</span>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            {% for field in form if field.name != 'csrf_token' %}
                <div class="block_field">
                    {{ field.label() if field.name not in ('remember_me', 'submit') }}
                    {{ field() }}
                {{ field.label() if field.name in ('remember_me') }}
                    {% for error in field.errors %}
                        <div class="error">{{ error }}</div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </form>
{% endblock %}


